@using JiraCloneMVC.Web.Models

<div class="row d-none d-md-flex text-cen">
    <div class="col-md-2">User Name</div>
    <div class="col-md-2">Role</div>
    <div class="col-md-1">Email</div>
    <div class="col-md-3">Phone</div>
</div>
<hr class="d-none d-md-block" />

@foreach (User item in Model.Members)
{
    @Html.Partial("_UserMemberInfo", item, ViewData)
}

<a href=" @Url.Action("Index", "Projects")" class="btn btn-success">Back to List</a>
