
@using JiraCloneMVC.Web.Models
@model dynamic

@{
    ViewBag.Title = "DetailsMembers";
}

<h2>Project members</h2>

@if (ViewBag.Rol.ToString().Equals("Organizator") || ViewBag.Rol.ToString().Equals("Administrator"))
{
    @Html.Partial("DetailsMembersForOrganizerAndAdmin");
}
else
{
    @Html.Partial("DetailsMembersForMembers");
}