@using JiraCloneMVC.Web.Models
@using JiraCloneMVC.Web.ViewModels
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <h3 class="alert-danger">@ViewBag.message</h3>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <h4>The projects you organize</h4>
    <div class="row d-none d-md-flex text-cen">
        <div class="col-md-2">Organizer Name</div>
        <div class="col-md-2">Name</div>
        <div class="col-md-1">Description</div>
        <div class="col-md-3">Status</div>
        <div class="col-md-2">Start Date</div>
        <div class="col-md-2">End Date</div>
    </div>
    <hr class="d-none d-md-block" />
    @foreach (Project project in Model.ProjectsAdministrate)
    {
        @Html.Partial("_ProjectAdministrateDetailsPreview", project)
        ;
    }

    
    <h4>Projects to which you are a member</h4>
    <div class="row d-none d-md-flex text-cen">
        <div class="col-md-2">Organizer Name</div>
        <div class="col-md-2">Name</div>
        <div class="col-md-1">Description</div>
        <div class="col-md-3">Status</div>
        <div class="col-md-2">Start Date</div>
        <div class="col-md-2">End Date</div>
    </div>
    <hr class="d-none d-md-block" />
    @foreach (Project project in Model.ProjectsNonAdministrate)
    {
        @Html.Partial("_ProjectNonAdministrateDetailsPreview", project)
        ;
    }

</div>
