
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container my-5">
    <h2>Admin page</h2>

    <a href="/Admin/SeeUsers" class="btn btn-primary btn-dark">See Users</a>
    <a href="/Admin/SeeProjects" class="btn btn-primary btn-dark">See Projects</a>
    <a href="/Admin/SeeTasks" class="btn btn-primary btn-dark">See Tasks</a>
    <a href="/Admin/SeeComments" class="btn btn-primary btn-dark">See Comments</a>
</div>