
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin page</h2>

<a href="/Admin/SeeUsers" class="btn btn-primary btn-block">See Users</a>
<a href="/Admin/SeeProjects" class="btn btn-primary btn-block">See Projects</a>
<a href="/Admin/SeeTasks" class="btn btn-primary btn-block">See Tasks</a>
<a href="/Admin/SeeComments" class="btn btn-primary btn-block">See Comments</a>